body {
	background-color: #ffe6f7;
	padding-top: 80px;
	padding-left: 20px;
}
.right {
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px white;
}
.block {
	background-color:black;
	color:white;
	padding:20px;
	width: 500px;
	height: 500px;
}
.line{
	color: #73AD21;
}
.nav{
	background-color:black;
	color:white;
}
